version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    restart: on-failure
    networks:
      - gabi
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    restart: on-failure
    networks:
      - gabi
    ports:
      - "9092:9092"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_BROKER_ID: 1
      KAFKA_CREATE_TOPICS: "dad.price.0:1:1,\
          dad.market_factor.0:1:1,\
          dad.news.0:1:1,\
          dad.tweet.0:1:1"
    depends_on:
      - zookeeper

  mongo:
    image: mongo
    restart: always
    networks:
      - gabi
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
    networks:
      - gabi
    volumes:
      - type: bind
        source: ./elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
    environment:
      - node.name=elasticsearch
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms750m -Xmx750m"
      - http.cors.enabled=true
      - http.cors.allow-origin=*
      - discovery.type=single-node
    cap_add:
      - ALL
    restart: on-failure
    ports:
      - 9200:9200
      - 9300:9300

  kibana:
    image: docker.elastic.co/kibana/kibana:7.8.0
    ports:
      - 5601:5601
    volumes:
      - type: bind
        source: ./kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    cap_add:
      - ALL
    restart: on-failure
    networks:
      - gabi
    links:
      - elasticsearch

  price-factors-crawler:
    build:
      context: ../services/price-factors-crawler
    networks:
      - gabi
    volumes:
      - ../services/price-factors-crawler:/app
      - /app/node_modules
    environment:
      - "FXCM_TOKEN=0004ac72171d396154ddaebc87487cf326cfdd1e"

  tweet-crawler:
    build:
      context: ../services/tweet-crawler
    networks:
      - gabi
    environment:
      - TOPIC=tweet
      - DEBUG=n
      - "KAFKA_CLIENT=http://kafka:9092/"

networks:
  gabi:
    driver: bridge
