version: '3'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    restart: on-failure
    networks:
      - gabi
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    restart: on-failure
    networks:
      - gabi
    ports:
      - "9092:9092"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka"
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_BROKER_ID: 1
      KAFKA_CREATE_TOPICS: "dad.price.0:1:1,\
          dad.market_factor.0:1:1,\
          dad.news.0:1:1,\
          dad.tweet.0:1:1"
    depends_on:
      - zookeeper

  mongo:
    image: mongo
    restart: always
    networks:
      - gabi
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
    networks:
      - gabi
    environment:
      - node.name=elasticsearch1
      - cluster.name=docker-cluster
      - cluster.initial_master_nodes=elasticsearch1
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256M -Xmx256M"
      - http.cors.enabled=true
      - http.cors.allow-origin=*
      - network.host=_eth0_
    ulimits:
      nproc: 65535
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - ALL
    restart: on-failure
    deploy:
      replicas: 1
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 256M
    ports:
      - 9200:9200
      - 9300:9300

  kibana:
    image: docker.elastic.co/kibana/kibana:7.8.0
    environment:
      SERVER_NAME: localhost
      ELASTICSEARCH_URL: http://elasticsearch:9200/
    ports:
      - 5601:5601
    ulimits:
      nproc: 65535
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - ALL
    restart: on-failure
    deploy:
      replicas: 1
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 256M
    networks:
      - gabi

  price-factors-crawler:
    build:
      context: ../services/price-factors-crawler
    networks:
      - gabi
    volumes:
      - ../services/price-factors-crawler:/app
      - /app/node_modules
    environment:
      - "FXCM_TOKEN=<your-fxcm-token>"

  tweet-crawler:
    build:
      context: ../services/tweet-crawler
    networks:
      - gabi
    environment:
      - TOPIC:tweet
      - DEBUG:n
      - KAFKA_CLIENT:http://kafka:9092/

networks:
  gabi:
    driver: bridge
